.drodownWrapper {
  width: 210px;
  background: #fff;
  box-shadow: 0 14px 34px hsl(0deg 0% 100% / 35%);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: relative;
}

.myDropdown {
  display: flex;
  background: #fff;
  border-radius: 10px;
  font-family: 'Baloo 2', cursive;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  color: #252322;
  display: flex;
  height: 60px;
  align-items: center;
  background-color: #fff;
  height: unset;
  padding: 0 15px;
  min-height: 60px;
  cursor: pointer;
}

.proImg {
  display: flex;
  align-items: center;
  background: #e5bea8;
  border-radius: 10px;
  justify-content: center;
  margin-right: 15px;
}

.proImg img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 10px;
}

.proInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proName {
  font-family: 'Baloo 2', cursive;
  font-weight: 800;
  font-size: 14px;
  color: #252322;
}

.proStatus {
  font-family: 'Baloo 2', cursive;
  font-weight: 700;
  font-size: 12px;
  color: #fc772c;
  text-transform: uppercase;
  margin: 0;
}

.arrow {
  margin-left: auto;
  transform: rotate(0deg);
  transition: all 0.4s ease-in-out;
}

.myDropdownMenu {
  position: absolute;
  top: calc(100% - 8px);
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 10px;
  height: auto;
  padding: 10px 15px;
  overflow: visible;
  display: flex;
  justify-content: center;
  transform: scaleY(0);
  transition: all 0.4s ease-in-out !important;
  transform-origin: top;
  background-color: #fff;
}

.myDropdownMenu.active {
  transform: scaleY(1);
  transition: all 0.4s ease-in-out !important;
  transform-origin: top;
  top: calc(100% + 8px);
}

.arrow.active {
  transform: rotate(180deg);
  transition: 0.4s ease-in-out !important;
}

.dmContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dmContent a {
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 14px;
  color: #252322;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  transition: 0.5s ease-in-out;
  text-decoration: none;
}
