.filterRow {
  cursor: pointer;
  background: transparent;
  border-radius: 12px;
  margin-bottom: 20px;
}

.forFilter {
  justify-content: space-between;
  display: flex;
  cursor: default;
  padding: 0;
  width: calc(100% + 15px);
}

.eName {
  font-family: "Baloo 2", cursive;
  font-weight: 700;
  font-size: 12px;
  width: 230px;
  height: 60px;
  margin: 0 5px;
  color: #252322;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 0 25px;
  background: #fff;
  /* border: 1px solid #d8d8d8; */
  border: 1px solid #fc772c;
  border-radius: 14px;
  font-weight: 700;
}

.ePerson {
  font-family: "Baloo 2", cursive;
  font-weight: 700;
  font-size: 12px;
  width: 60px;
  height: 60px;
  margin: 0 15px;
  color: #252322;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  background: #fff;
  /* border: 1px solid #d8d8d8; */
  border: 1px solid #fc772c;
  border-radius: 14px;
}

.ePortion {
  font-family: "Baloo 2", cursive;
  font-weight: 700;
  font-size: 12px;
  width: 60px;
  height: 60px;
  margin: 0 15px;
  color: #252322;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  background: #fff;
  /* border: 1px solid #d8d8d8; */
  border: 1px solid #fc772c;
  border-radius: 14px;
}

.eTime {
  height: 60px;
  margin: 0 15px;
  font-family: "Baloo 2", cursive;
  font-weight: 700;
  font-size: 12px;
  color: #252322;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  /* border: 1px solid #d8d8d8; */
  border: 1px solid #fc772c;
  border-radius: 14px;
  font-weight: 700;
}

.calendar {
  display: flex;
}

.data {
  display: flex;
  align-items: center;
  margin: 0 12px;
  font-family: Baloo2;
  font-weight: 700;
  font-size: 14px;
  color: #252322;
}

.data img {
  margin-right: 10px;
}

.eStatus {
  position: relative;
  background: url("./../../cammon/timeb.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  border: 1px solid #fc772c;
  width: 60px;
  height: 60px;
  margin: 0 15px;
  font-family: "Baloo 2", cursive;
  font-weight: 700;
  font-size: 12px;
  color: #252322;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  cursor: pointer;
}

.eName.notActive,
.ePerson.notActive,
.ePortion.notActive,
.eTime.notActive {
  border: 1px solid #d8d8d8;
}

.eStatus.notActive {
  background-image: url(../../cammon/cancel.svg);
  background-color: #fc772c;
  cursor: auto;
}

@media (max-width: 1199px) {
  .eStatus {
    margin: 0 5px;
  }
  .eName {
    margin: 0 5px;
  }
  .ePerson {
    margin: 0 5px;
  }
  .ePortion {
    margin: 0 5px;
  }
  .eTime {
    margin: 0 5px;
  }
}

@media (max-width: 992px) {
  .forFilter.details {
    flex-wrap: wrap;
    position: relative;
  }
  .eName {
    width: 100%;
    margin-bottom: 10px;
    order: 1;
  }

  .eTime {
    width: 100%;
    order: 2;
    margin: 0 5px;
    margin-bottom: 10px;
    justify-content: center;
  }

  .ePerson {
    position: relative;
    order: 4;
    padding-top: 20px;
  }

  .ePerson::after {
    position: absolute;
    content: attr(data-value);
    top: 12px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    font-family: Baloo2;
    font-weight: 700;
    font-size: 12px;
    color: #252322;
  }

  .ePortion {
    position: relative;
    order: 3;
    padding-top: 20px;
  }

  .ePortion::after {
    position: absolute;
    content: attr(data-value);
    top: 12px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    font-family: Baloo2;
    font-weight: 700;
    font-size: 12px;
    color: #252322;
  }

  .eStatus {
    order: 5;
    justify-content: center;
    margin-left: auto;
  }

  .eStatus.notActive {
    order: 5;
  }
}
