.manageCarad {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 32px;
}

.prof {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  background-color: #fff;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 32px;
}

.profName {
  font-family: 'Baloo 2', cursive;
  font-weight: 600;
  font-size: 22px;
  color: #252322;
  margin-bottom: 5px;
}

.profSub {
  font-family: 'Baloo 2', cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: lowercase;
  color: #fc772c;
}

.person {
  width: 63px;
  height: 63px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #fc772c;
}

.profLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profLinks a {
  padding: 20px;
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 18px;
  color: #252322;
  display: flex;
  transition: 0.3s ease-in-out;
  width: 100%;
  border-radius: 12px;
  text-decoration: none;
}

.profLinks img {
  margin-right: 15px;
}

.forExit {
  margin-top: 120px;
}

.active {
  background-color: #fff;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -100%;
    z-index: 200;
    top: 0;
    bottom: 0;
    transition: all 0.5s ease;
    background-color: #f8f8f8;
  }

  .manageCarad {
    transition: all 0.5s ease;
    border-radius: 0;
  }

  .sidebar.active {
    left: 0;
  }
}

