.wrapper {
  padding-top: 60px;
  padding-bottom: 120px;
}

.customCol {
  padding: 0 40px;
}

.customRow {
  width: calc(100% + 80px);
  margin: 0 -40px;
}

.settingsContent {
  padding: 50px 70px;
  background-color: #f8f8f8;
  border-radius: 20px;
}

.imgSec {
  display: flex;
  align-items: center;
}

.infoSec {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
}

.infoCard {
  width: calc(50% - 15px);
  margin-bottom: 30px;
}

.infoCard label {
  font-family: "Baloo 2", cursive;
  font-weight: 400;
  font-size: 12px;
  color: #252322;
  opacity: 0.4;
  padding: 0 20px;
  margin-bottom: 5px;
}

.infoCard input {
  width: 100%;
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  font-family: Baloo2;
  font-weight: 500;
  font-size: 18px;
  color: #252322;
  border: none;
  outline: none;
}

.infoButtons {
  margin-left: auto;
  margin-top: 45px;
  width: 75%;
}

.buttons {
  width: calc(100% + 15px);
  display: flex;
  justify-content: space-between;
}

.buttons input {
  margin: 0 15px;
  width: calc(50% - 30px);
  padding: 15px 35px;
  justify-content: center;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #252322;
  background: #f8f8f8;
  border-radius: 12px;
  box-shadow: 0 34px 44px rgb(0 0 0 / 8%);
  transition: 0.3s ease-in-out;
}

.buttonSave {
  width: 210px;
  height: 54px;
  box-shadow: 0px 24px 44px rgba(255, 103, 17, 0.27);
  border-radius: 12px;
  border: none;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff !important;
  background-color: #fc772c !important;
}

.changePasswordBtn {
  justify-content: flex-end !important;
}

@media (max-width: 1199px) {
  .settingsContent {
    padding: 50px 30px;
  }
}

@media (max-width: 992px) {
  /* .closer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.05);
  } */
}
